<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/city-picker.min.js"></script>
    <link rel="stylesheet" th:href="@{/WeUI_files/weui.css}">
    <link rel="stylesheet" th:href="@{/WeUI_files/example.css}">
    <link rel="stylesheet" th:href="@{/WeUI_files/jweixin-1.0.0.js}">
    <link rel="stylesheet" th:href="@{/WeUI_files/zepto.min.js}">
    <link rel="stylesheet" th:href="@{/WeUI_files/example.js}">

    <title>Title</title>

</head>

<body>

<div class="mui-content"  style="position: fixed;width: 100%; height: 100px;">
    <div class="weui-tab">


        <div class="weui-navbar" id="tab" style="background-color: white; height: 100px;text-align: center; line-height: 80px; border: 0px" >
            <a class="weui-navbar__item " id="ta1" href="#tab1" >
                基本信息
            </a>
            <a class="weui-navbar__item" id="ta2" href="#tab2">
                周报信息
            </a>
            <a class="weui-navbar__item" id="ta3" href="#tab3">
                缴费信息
            </a>



        </div>



        <div id="list1" style=" overflow-y: auto;padding-top: 60px;" >
            <div class="weui-tab__bd">
                    <div id="tab1" name="t1" class="weui-tab__bd-item weui-tab__bd-item--active">
                        <ul class="mui-table-view">
                        11<br/><br/>4545454

                        </ul>

                    </div>

                <div id="tab2" name="t2" class="weui-tab__bd-item">
                  22
                </div>
                <div id="tab3" name="t3" class="weui-tab__bd-item">
                    33
                </div>

            </div>
        </div>
    </div>
</div>
</body>

</html>